@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Turkey<br/>
    <abbr title="Phone">P:</abbr>
    +9055121233
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nadiamasri@gmail.com">nadiamasri@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nadiamasri@gmail.com">nadiamasri@gmail.com</a>
</address>